body {
    background: linear-gradient(135deg, #007bff, #6610f2);
}

.todo-container {
    background: #fff;
    max-width: 400px;
    width: 100%;
}

.list-group-item {
    transition: 0.3s ease-in-out;
}

.list-group-item:hover {
    background: #f8f9fa;
}
